- provide(:title, 'Inicio de sesión')

.container.dialog
  %header.box
    %h1.header-title 独学
  .dialog-main.center
    = form_for(:session, url: sessions_path) do |f|
      .row-fluid
        .input-prepend
          %span.add-on
            %i.icon-user
          = f.text_field :email, class:'input-large', placeholder:'chilaquil@chirakiru.com'
      .row-fluid
        .input-prepend
          %span.add-on
            %i.icon-lock
          = f.password_field :password, class:'input-large', placeholder:'Password'
      .form-actions
        %button.btn.btn-large.btn-block.btn-success{type:"submit", value:"Entrar", name:"commit", title:"Oh vosotros los que entráis, ¡abandonad toda esperanza!"}
          %i.icon-play-circle.icon-white
          Entrar
%br
%br
%br
