%ul.cbp-vimenu
  %li
    %a.icon-logo{:href => "javascript:;"} Logo
  %li{title:'Aquí ves las cosas viejas... =/'}
    %a.icon-archive{:href => "javascript:;", 'data-to' => '#archive'} Archive
  %li
    %a.icon-search{:href => "javascript:;"} Search
  %li.cbp-vicurrent{title:'Aquí escribes tus asombrosas ideas'}
    %a.icon-pencil{:href => "javascript:;", 'data-to' => '#entry'} Pencil
  %li
    %a.icon-location{:href => "javascript:;"} Location
  %li
    %a.icon-images{:href => "javascript:;"} Images
  / %li
  /   %a.icon-download{:href => "javascript:;"} Download