- provide(:title, 'Dashboard')

= render 'dropzone_modal'
= render 'left_sidebar'

.container
  %section#archive.hide
    - 30.times do |i|
      foo
      %br
  %section#entry
    .btn-toolbar
      .btn-group
        %button#publish-post.btn.btn-success.btn-large{title:'¿Estás listo con tu increíble post? ¡Adelante! ;)'}
          %i.icon-white.icon-share
          Publicar
        %button#preview-post.btn.btn-info.btn-large{title:'Ve cómo se ve'}
          %i.icon-white.icon-eye-open
          Previsualizar
      .btn-group
        %button#load-image.btn.btn-large{title:'Carga una imagen para tu post', 'data-toggle'=>"modal", 'data-target'=>"#dropzone-container"}
          %i.icon-picture
          Subir imagen
      .btn-group
        %a{title:'Markdown Syntax Reference', target:'_blank', href:'/markdown-syntax-reference.html'}
          %i.icon-question-sign
    .row-fluid
      .span12
        %input#post-title{type:'text', title:'Título del post', placeholder:'Título', maxlength:100}
    .row-fluid
      .span12
        #epiceditor
    .row-fluid
      .span12
        %input#post-tags{type:'text', title:'Tags', placeholder:'#tags del post', maxlength:100}
