- provide(:title, 'Dashboard')

%ul.cbp-vimenu
  %li
    %a.cbp-vicurrent.icon-logo{:href => "javascript:;"} Logo
  %li
    %a.icon-archive{:href => "javascript:;", 'data-to' => '#archive'} Archive
  %li
    %a.icon-search{:href => "javascript:;"} Search
  %li
    %a.icon-pencil{:href => "javascript:;", 'data-to' => '#entry'} Pencil
  %li
    %a.icon-location{:href => "javascript:;"} Location
  %li
    %a.icon-images{:href => "javascript:;"} Images
  %li
    %a.icon-download{:href => "javascript:;"} Download

.container
  #archive
    - 30.times do |i|
      foo
      %br
  #entry.hide
    - 30.times do |i|
      entry
      %br
