.container
  .post
    %a.post-title{:href => "#"}= @post.ptitle
    .post-date
      por
      %a{:href => "#"}= current_user.first_name
      en enero 1
    .post-body
      = raw @post.pcontent
  %hr
