@import "bootstrap"
@import "bootstrap-responsive"

/* Vars */
$darkGrey: rgba(47, 55, 66, 0.9)
$blueAdrian: rgb(59, 146, 204)



/* Global */

hr
  width: 40%
  margin-left: auto
  margin-right: auto
  margin-bottom: 50px
  height: 1px
  border: 0
  background-color: #c3c3c3
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f7f6f4), to(#f7f6f4), color-stop(50%, #fff))
  background-image: -webkit-linear-gradient(left, #f7f6f4, #fff, #f7f6f4)
  background-image: -moz-linear-gradient(left, #f7f6f4, #fff, #f7f6f4)
  background-image: -ms-linear-gradient(left, #f7f6f4, #fff, #f7f6f4)
  background-image: -o-linear-gradient(left, #f7f6f4, #fff, #f7f6f4)
  &::after
    content: ''
    display: block
    height: 1px
    background-color: #f7f6f4
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f7f6f4), to(#f7f6f4), color-stop(50%, #c3c3c3))
    background-image: -webkit-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4)
    background-image: -moz-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4)
    background-image: -ms-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4)
    background-image: -o-linear-gradient(left, #f7f6f4, #c3c3c3, #f7f6f4)

body
  font-family: 'OpenSansRegular'
  background: rgba(230,230,230,0.7)
  font-size: 16px
  transition: all 300ms ease-in-out

footer
  bottom: 0
  background-color: rgba(230,230,230,0.7)
  width: 100%
  position: relative
  min-height: 50px
  p
    text-align: center
    font-size: 12px
    padding-top: 15px
    color: rgb(170, 170, 170)

a
  text-decoration: none
  color: rgb(59, 146, 204)
  transition: color 400ms ease-in-out
  &:hover
    color: rgb(69, 156, 214)

.center
  text-align: center

p
  margin-bottom: 23pt
  line-height: 17pt

.site
  background: white
  .page-view
    padding-top: 115px
    box-shadow: 0 0px 3px 0 #666
    min-width: 100%

.page-view
  transition: background 300ms ease-in-out



/* Navbar */

header
  &.navbar
    min-width: 100%
    max-height: 94px
    position: fixed
    z-index: 10
    box-shadow: 0 1px 0px 0 $blueAdrian, 0 2px 0px 0 rgb(80, 191, 131), 0 0 5px 3px #555
    background-color: $darkGrey
    background-image: linear-gradient(to bottom, rgba(80, 88, 99, 0.8), rgba(47, 55, 66, 0.8))

.header-title
  font-size: 26px
  font-family: "SFNewRepublic"
  color: rgba(248, 248, 248, 0.9)
  text-shadow: 1px 2px 0px rgb(130, 130, 130)
  text-align: center
  line-height: normal
  padding-top: 10px
  margin: 0 0 5px 0
  transition: all 400ms ease-in-out
  &:hover
    color: white
  &:first-letter
    font-size: 40px

#nav
  font-family: 'OpenSansRegular'
  font-size: 15px
  padding-bottom: 20px
  text-align: center
  color: white
  a
    color: inherit
  span
    margin: 0 15px 0 15px


/* Misc */

#bottom-spinner
  border-radius: 12px
  height: 80px
  margin-bottom: 5px
  margin-left: auto
  margin-right: auto
  width: 80px
  transition: all 2000ms ease-in-out
  &.rotate
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
    img
      -webkit-transform: rotate(1080deg) rotateY(180deg)
      transform: rotate(1080deg) rotateY(180deg)
  img
    transition: all 2000ms ease-in-out


#chirakiru-start
  position: fixed
  top: 14px
  left: 5px
  z-index: 99
  cursor: pointer
  border: 0px none
  visibility: visible
  width: 24px
  height: 24px
  max-height: 24px
  max-width: 24px
  overflow: hidden
  display: block
  padding: 0px
  opacity: 0.1
  &:hover
    opacity: 1
