@font-face {
  font-family: 'SFNewRepublic';
  src: url(font-path('sf_new_republic_sc-webfont.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('sf_new_republic_sc-webfont.woff')) format('woff'),
       url(font-path('sf_new_republic_sc-webfont.ttf')) format('truetype'),
       url(font-path('sf_new_republic_sc-webfont.svg') + '#sf_new_republic_scregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url(font-path('OpenSans-Regular-webfont.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('OpenSans-Regular-webfont.woff')) format('woff'),
       url(font-path('OpenSans-Regular-webfont.ttf')) format('truetype'),
       url(font-path('OpenSans-Regular-webfont.svg') + '#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ecoico';
  src: url(font-path('ecoico.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('ecoico.woff')) format('woff'),
       url(font-path('ecoico.ttf')) format('truetype'),
       url(font-path('ecoico.svg') + '#ecoico') format('svg');
  font-weight: normal;
  font-style: normal;
}
