.post {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  .post-title {
    font-size: 18pt;
  }
  .post-date {
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 15px;
    color: rgb(180, 180, 180);
  }
  .post-body {
    font-size: 12pt;
    text-align: justify;
  }
  .post-tags {
    //margin-bottom: 15px;
    text-align: center;
    a {
      color: rgb(180, 180, 180);
      &:hover {
        color: red;
      }
    }
  }
}

/* Large desktop */
@media (min-width: 980px) {
  .page-view .container {
    max-width: 900px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .page-view {
    //background: green;
  }
  .page-view  .container {
    max-width: 700px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .page-view {
    //background: pink;
  }
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .page-view  .container {
    max-width: 540px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  //.page-view { background: purple; }
  #nav a {
    font-size: 14px;
  }
  .header-title {
    font-size: 16px;
  }
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .page-view  .container {
    max-width: 350px;
  }
}
