$borderRadius: 8px;

.dialog {
  width: 300px;
  background: none repeat scroll 0 0 padding-box #FDFDFD;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: $borderRadius;
  font-family: OpenSansRegular;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1),
    2px 0px 0 rgba(0, 0, 0, 0.05),
    0 1px 0 rgba(0, 0, 0, 0.1),
    -1px -1px 0 rgba(0, 0, 0, 0.05),
    0 8px 4px rgba(0, 0, 0, 0.15);
  header.box {
    margin-bottom: 0;
    background-color: rgba(147, 205, 118, 1);
    .header-title {
      font-weight: normal;
      font-family: OpenSansRegular;
      text-transform: uppercase;
    }
    border-radius: $borderRadius $borderRadius 0 0;
  }
  .dialog-main { 
    border: none;
    border-radius: 0 0 $borderRadius $borderRadius;
    margin-top: -6px;
    padding-left: 6px;
    padding-top: 20px;
    $inputsHeight: 40px;
    input {
      height: $inputsHeight;
      &:focus {
        background: none repeat scroll 0 0 #F4F7F9;
      }
    }
    .add-on {
      height: $inputsHeight;
      i {
        margin-top: 14px;
      }
    }
    label {
      padding-left: 30px;
      padding-top: 5px;
    }
  }
  .form-actions {
    background-color: whitesmoke;
    border-top: 1px solid #E5E5E5;
    margin-bottom: -20px;
    margin-left: -6px;
    margin-top: 20px;
    padding: 19px 20px 20px;
    border-radius: 0 0 $borderRadius $borderRadius;
    .btn {
      border: none;
      background-color: rgba(244, 92, 97, 1);
      background-image: linear-gradient(to bottom, rgba(255, 101, 105, 1), rgba(245, 93, 98, 1));
    }
  }
}
