%header
  %p.header-title
    chirakiru puroguramingu
    %span{title:'Dokugaku'} 独学
  #nav
    %a{:href => "#"} inicio
    %span /
    %a{:href => "#"} archivo
    %span /
    %a{:href => "#"} amigos
