%header
  %p.header-title
    chirakiru puroguramingu
    %span{title:'Dokugaku'} 独学
  #nav
    %a{:href => root_path} inicio
    %span /
    %a{:href => files_path} archivo
    %span /
    %a{:href => friends_path} amigos
