#chirakiru-start
  - if signed_in?
    %a{ href:logoff_path, 'data-no-turbolink' => true, 'data-method' => :delete,  }
      %i.icon-off{ title: 'Terminar sesión' }
  - else
    %a{ href:login_path }
      %i.icon-home{ title: 'Inicia sesión' }
